@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

@import url(../css/keyframe.css);


/* font */
.pretendard {font-family: "Pretendard Variable";}
.nunito {font-family: 'Nunito', sans-serif; font-weight: 900;}
.nanumL {font-family: 'NanumSquareRoundL';}
.nanum {font-family: 'NanumSquareRound';}
.nanumB {font-family: 'NanumSquareRoundB';}
.nanumEB {font-family: 'NanumSquareRoundEB';}
.serif {font-family: 'Noto Serif HK', serif;}

/* public */
* {
    box-sizing: border-box;
}

body {
    background-color: #F4F4F4;
    color: #000;
}

section {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#wrap {
    width: 100%;
    max-width: 1920px;
}

.container {
    width: 80%;
    margin: 0 auto;
    position: relative;
}

.clear {
    clear: both;
}

:root {
    /* color */
    --color-orange: #F57D31;
    --color-black: #484848;
    --color-white: #F4F4F4;

    /* font-size */
    --title-size: 50px;
    --subtitle-size: 35px;
    --main-size: 20px;
}

/* scrollTop  */
button#ScrollTop {
    position: fixed;
    right: calc(100vw * 60 / 1920);
    bottom: calc(100vw * 60 / 1920);
    width: calc(100vw * 70 / 1920);
    height: calc(100vw * 70 / 1920);
    background: transparent;
    border: solid 2px var(--color-orange);
    border-radius: 100%;
    font-size: 18px;
    font-weight: 500;
    color: var(--color-orange);
    cursor: pointer;
    z-index: 10;
    opacity: 0.3;
    transition: all .3s ease-in-out;
}
button#ScrollTop:hover {
    background-color: var(--color-orange);
    color: #FFF;
    opacity: 1;
}

/* -------------- */
/* header */
header {display: flex; justify-content: space-between; align-items: center; width: 100%; height: 80px; background-color: rgba(255, 255, 255, 0.2); position: fixed; top: 0; backdrop-filter: blur(35px); z-index: 99;}
header img {margin-left: 90px;}
header ul {display: flex; list-style: none; margin-right: 50px;}
header li {display: inline-block; padding: 0 40px; font-size: 22px; font-family: 'Nunito', 'ExtraBold';}

a {text-decoration: none; color: #F57D31; position: relative;}
a::before { content: ""; position: absolute; width: 0; height: 3px; bottom: 0; left: 50%; background-color: #F6D046; transition: all 0.3s ease-out; transform: translateX(-50%);}
a:hover::before {width: 100%;}
a:hover{color: #F6D046;}

/* main */
main{background-image: url('../img/main.png'); background-size: 100% 100%; background-repeat: no-repeat;  height: 1200px;}
main p{position: absolute; left: 200px; top: 440px; font-weight: 800; font-size: 40px; line-height: 45px; color: #FFFFFF;}
main img{position: absolute; left: 200px; top: 510px; width: 400px;}

/* section_economy */
#economy{position: relative;}
#economy img {width: 100%; height: 1200px; filter: brightness(50%);}
#economy .subhead{position: absolute; font-size: 50px; top: 324px; width: 100%; text-align: center; z-index: 3; color: #fff;}
#economy .subhead span{background: #F57D31; border-radius: 10px; padding: 10px;}

#economy .pretendard{position: absolute; top: 447px; left: 50%; transform: translate(-50%, -50%); text-align: center; font-size: 24px; line-height: 30px; font-weight: 400; color: #fff;}
#economy .slider1{position: absolute; width: 100%; top: 657px; display: flex; list-style: none; justify-content: center;}
#economy .slider1 li{border: solid 3px #F57D31; background-color: rgba(255, 255, 255, 0.2); border-radius: 10px; font-size: 24px; padding: 20px 30px; margin: 0 20px; text-align: center; color: #fff;}
#economy .slider2{position: absolute; width: 100%; top: 797px; display: flex; list-style: none; justify-content: center;}
#economy .slider2 li{border: solid 3px #F57D31; background-color: rgba(255, 255, 255, 0.2); border-radius: 10px; font-size: 24px; padding: 20px 30px; margin: 0 20px; text-align: center; color: #fff;}
#economy .slider2 .color{background-color: #F57D31; color: #fff;}

/* section_insight */
#insight{position: relative; height: 1200px;}
/* #insight .circle{position: absolute; width: 32px; height: 32px; border-radius: 100%; background-color: #F57D31; left: 894px; z-index: -1; top: 190px;} //letf 픽셀값 */
#insight .circle{position: absolute; width: 32px; height: 32px; border-radius: 100%; background-color: #F57D31; z-index: -1; top: 190px; left: 47.8%; transform: translate(-47.8%, 0);}
#insight .title{position: relative; text-align: center; z-index: 1; top: 200px;}
#insight .pretendard{font-size: 30px; font-weight: 600; color: #484848;}

#insight .subhead{position: absolute; width: 100%; text-align: center; top: 270px;}
#insight .nanumEB{font-size: 50px; color: #484848;}

#insight .text{position: absolute; width: 100%; text-align: center; font-family: "pretendard"; font-weight: 400; font-size: 24px; line-height: 30px; color: #F57D31; top: 410px;}
#insight .text span{font-weight: 700;}

#insight .loading{position: absolute; top: 580px; left: 50%; transform: translateX(-50%);}
#insight li{width: 15px; height: 15px; border-radius: 100%; background-color: #F57D31; margin: 14px; }
#insight li:nth-of-type(1){background-color: #F4DCCD;}
#insight li:nth-of-type(2){background-color: #f8b489;}

#insight .bg{position: absolute; width: 100%; height: 455px; background-color: #484848; bottom: 0;}

#insight .bg .title{color: #fff; font-family: "pretendard"; font-size: 50px; font-weight: 500; line-height: 60px;}
#insight .bg .title span{font-weight: 800; letter-spacing: 0.02em;}

/* section_video */
#video{position: relative; height: 1200px; display: flex; justify-content: center; align-items: end; background-color:var(--color-black)}
section#video .container {width: 100%;}
section#video iframe {width: 100%; height: 1200px}

/* section_service */
#service{position: relative; height: 1200px;}
#service .circle{position: absolute; width: 32px; height: 32px; border-radius: 100%; background-color: #F57D31; z-index: -1; top: 190px; left: 45%; transform: translate(-45%, 0);}
#service .title{position: relative; text-align: center; z-index: 1; top: 200px;}
#service .pretendard{font-size: 30px; font-weight: 600; color: #484848;}

#service .name img{position: absolute; width: 430px; top: 40%; left: 200px; transform: translate(0, -50%);}
#service .name2{position: absolute; top: 430px; right: 200px; font-family: "Pretendard Variable"; font-weight: 700; font-size: 40px; line-height: 50px; letter-spacing: 0.03em; color: #484848;}
/* #service .pretendard{font-weight: 700; font-size: 40px; line-height: 48px; letter-spacing: 0.03em; color: #484848;} */
#service .name2 span{color: #F57D31; font-weight: 900;}

#service .text{position: absolute; right: 240px; left: 830px; top: 680px; width: 900px;}
#service .text p{display: inline-block; margin-left: 30px; margin-top: -30px; font-family: 'Pretendard'; font-style: normal; font-weight: 400; font-size: 25px; color: #717171;}
#service .text2{position: absolute; right: 240px; left: 830px; top: 750px; width: 900px;}
#service .text2 p{display: inline-block; margin-left: 30px; margin-top: -30px; font-family: 'Pretendard'; font-style: normal; font-weight: 400; font-size: 25px; color: #717171;}

#service .bg img{position: absolute; width: 100%; bottom: 0;}

/* section_focus_on */
#focus_on{position: relative; height: 2200px;}
#focus_on .circle{position: absolute; width: 32px; height: 32px; border-radius: 100%; background-color: #F57D31; z-index: -1; top: 190px; left: 46.8%; transform: translate(-46.8%, 0);}
#focus_on .title{position: relative; text-align: center; z-index: 1; top: 200px;}
#focus_on .pretendard{font-size: 30px; font-weight: 600; color: #484848;}

#focus_on .graph{position: absolute; top: 525px; left: 200px;}
#focus_on .graph .subhead{font-weight: 700; font-size: 36px; color: #F57D31;}
#focus_on .graph .text{margin-top: 105px; font-style: normal; font-weight: 400; font-size: 20px; line-height: 24px; color: #484848;}

#focus_on .graph2{position: absolute; top: 320px; right: 200px;}
#focus_on .graph2 img{box-shadow: 0px 4px 4px rgba(62, 62, 62, 0.15); border-radius: 40px;}

#focus_on .solution{position: absolute; width: 100%; text-align: center; top: 1150px;}
#focus_on .solution .title2{font-size: 50px; line-height: 60px; color: #484848;}
#focus_on .solution .title2 span{color: #F57D31;}
#focus_on .solution .text{margin-top: 45px; font-size: 20px; font-weight: 400; line-height: 24px; color: #484848;}

#focus_on .solution_arrow{position: absolute; width: 100%; text-align: center; top: 1480px; list-style: none; justify-content: center; display: flex;}
#focus_on .solution_arrow .round{width: 208px; height: 208px; border: solid 2px #F57D31; border-radius: 100%; font-family: "Pretendard Variable"; font-size: 24px; font-weight: 600; color: #484848; display: flex; justify-content: center; align-items: center;}
#focus_on .solution_arrow img{ margin: 94px 100px;}

#focus_on .list{position: absolute; width: 100%; text-align: center; top: 1760px;}
#focus_on .list p{font-size: 32px; color: #484848; }
#focus_on .text_box{background-color: #F4DCCD; width: 210px; height: 15px; position: absolute; left: 50%; transform: translateX(-50%); z-index: -1; top: 18px;}

#focus_on .list .num1{position: absolute; margin-top: 70px; width: 400px; left: 500px;}
#focus_on .list .num1 li{font-family: "Pretendard Variable"; font-size: 20px; font-weight: 500; color: #484848; margin-bottom: 45px; text-align: left;}
#focus_on .list .num1 li span{font-size: 24px; font-weight: 900; color: #F57D31; margin-right: 32px;}
#focus_on .list .num2 {position: absolute; margin-top: 70px; width: 400px; right: 500px;}
#focus_on .list .num2 li{font-family: "Pretendard Variable"; font-size: 20px; font-weight: 500; color: #484848; margin-bottom: 45px; text-align: left;}
#focus_on .list .num2 li span{font-size: 24px; font-weight: 900; color: #F57D31; margin-right: 32px;}

/* section_keyword */
#keyword{position: relative; height: 665px; background-color: #CF570B; width: 100%;}
#keyword img{position: absolute; height: 100%; left: 100px;}
#keyword .filter{position: absolute; top: 0; width: 100%; height: 665px; background-color: rgba(0, 0, 0, 0.5);}
#keyword .subhead{font-weight: 800; font-size: 36px; color: #fff; width: 100%; text-align: center; position: absolute; top: 30%; transform: translateY(-30%);}

#keyword ul{position: absolute; width: 100%; top: 377px; display: flex; list-style: none; justify-content: center;}
#keyword li{border: solid 3px #fff; background-color: rgba(255, 255, 255, 0.2); border-radius: 50px; font-size: 30px; font-weight: 600; padding: 20px 50px; margin: 0 60px; text-align: center; color: #fff;}

/* section_ux_goal */
#ux_goal{position: relative; height: 2400px;}
#ux_goal .bg{position: absolute; width: 100%; top: 0; z-index: -1;}
#ux_goal .text{position: absolute; width: 100%; text-align: center; top: 135px;}
#ux_goal .text :nth-of-type(1){font-size: 36px; font-weight: 500; color: #fff; margin-bottom: 40px;}
#ux_goal .text :nth-of-type(2){font-size: 50px; font-weight: 900; color: #fff;}

#ux_goal .orange{background-color: #F57D31; color: #fff;} 
/* 오렌지 색 안먹음 */

#ux_goal .box_1{position: absolute; left: 200px; display: flex; top: 410px;}
#ux_goal .box_1 img{position: absolute; width: 200px;}
#ux_goal .list1{position: absolute; display: flex; left: 240px; width: 400px; top: 30px;}
#ux_goal .list2{position: absolute; display: flex; left: 240px; width: 400px; top: 110px;}
#ux_goal .list1 li{background-color: #fff; border-radius: 50px; font-weight: 500; font-size: 24px; padding: 20px 30px; margin: 0 10px; text-align: center; color: #484848;}
#ux_goal .list2 li{background-color: #fff; border-radius: 50px; font-weight: 500; font-size: 24px; padding: 20px 30px; margin: 0 10px; text-align: center; color: #484848;}

#ux_goal .box_2{position: absolute; right: 200px; display: flex; top: 660px;}
#ux_goal .box_2 img{position: absolute; width: 200px; right: 0;}
#ux_goal .list3{position: absolute; display: flex; right: 240px; width: 400px; top: 30px;}
#ux_goal .list4{position: absolute; display: flex; right: 240px; width: 400px;top: 110px;}
#ux_goal .list3 li{background-color: #fff; border-radius: 50px; font-weight: 500; font-size: 24px; padding: 20px 30px; margin: 0 10px; text-align: center; color: #484848;}
#ux_goal .list4 li{background-color: #fff; border-radius: 50px; font-weight: 500; font-size: 24px; padding: 20px 30px; margin: 0 10px; text-align: center; color: #484848;}

#ux_goal .circle{position: absolute; width: 32px; height: 32px; border-radius: 100%; background-color: #F57D31; z-index: -1; top: 1110px; left: 47.3%; transform: translate(-47.3%, 0);}
#ux_goal .title{position: relative; text-align: center; z-index: 1; top: 1120px;}
#ux_goal .pretendard{font-size: 30px; font-weight: 600; color: #fff;}

#ux_goal .trendy{position: absolute; width: 100%; text-align: center; color: #484848; top: 1460px;}
#ux_goal .trendy p:nth-of-type(1){font-weight: 300; font-size: 36px; margin-bottom: 37px;}
#ux_goal .trendy .nanumEB{font-size: 36px; letter-spacing: -0.03em; margin-bottom: 50px;}
#ux_goal .trendy .nanumEB span{background: #FAE26A; border-radius: 10px; padding: 2px;}
#ux_goal .trendy p:nth-of-type(3){font-weight: 300; font-size: 20px; line-height: 24px;}

#ux_goal .trendy_list{position: relative; top: 1790px; display: flex; justify-content: space-between; align-items: center; margin: 0 500px;}
#ux_goal .trendy_list .point{ width: 188px; text-align: center;}
#ux_goal .trendy_list .round{width: 150px; height: 150px; background-color: #DFDFDF; border-radius: 100%; margin-bottom: 56px; margin-left: 31px;}
#ux_goal .trendy_list .round img{width: 100%; z-index: 1;}
#ux_goal .trendy_list .round .why{width: 70%; z-index: 1; text-align: center; margin-top: 20px;}
#ux_goal .trendy_list .subhead{font-weight: 600; font-size: 28px; color: #484848; margin-bottom: 20px;}
#ux_goal .trendy_list .text2{position: absolute; font-weight: 300; font-size: 20px; color: #484848;}

/* section_style_guide */
#style_guide{position: relative; height: 2935px;}
#style_guide .circle{position: absolute; width: 32px; height: 32px; border-radius: 100%; background-color: #F57D31; z-index: -1; top: 120px; left: 46%; transform: translate(-46%, 0);}
#style_guide .title{position: relative; text-align: center; z-index: 1; top: 130px;}
#style_guide .pretendard{font-size: 30px; font-weight: 600; color: #484848;}

#style_guide .text{position: absolute; width: 100%; text-align: center; font-family: "Pretendard Variable"; font-weight: 400; font-size: 20px; top: 200px;}

#style_guide .color{position: absolute; top: 350px;}
#style_guide .color .subhead{margin-left: 200px; font-size: 30px; color: #F57D31; margin-bottom: 40px;}
#style_guide .c_1{list-style: none; display: flex;}
#style_guide .c_1 li:nth-of-type(1){width: 960px; height: 380px; background: #F57D31;}
#style_guide .c_1 li:nth-of-type(2){width: 480px; height: 380px; background: #F6D046;}
#style_guide .c_1 li:nth-of-type(3){width: 463px; height: 380px; background: #FAE26A;} 
/* 스크롤 바 -17px */
#style_guide .c_1 .inner{font-weight: 500; font-size: 20px; text-align: right; color: #fff;}
#style_guide .c_2{list-style: none; display: flex;}
#style_guide .c_2 li:nth-of-type(1){width: 463px; height: 200px; background: #484848;}
#style_guide .c_2 li:nth-of-type(2){width: 720px; height: 200px; background: #EEEEEE;}
#style_guide .c_2 li:nth-of-type(3){width: 720px; height: 200px; background: #ffffff;}
#style_guide .c_2 .inner{font-weight: 500; font-size: 20px; text-align: right; color: #fff;}
#style_guide .c_2 .inner2{font-weight: 500; font-size: 20px; text-align: right; color: #484848;}

#style_guide .subhead2{font-size: 30px; color: #F57D31; margin-bottom: 30px;}
#style_guide .text2{font-size: 20px; color: #484848; font-weight: 400; margin-bottom: 80px; line-height: 24px;}
#style_guide .text3{font-size: 20px; color: #484848; font-weight: 400; margin-bottom: 60px; line-height: 24px;}

#style_guide .typography{position: absolute; top: 1120px; left: 200px;}
#style_guide .typography .font{list-style: none; display: flex;}
#style_guide .typography .font .m_right{ margin-right: 424px;}

#style_guide .logo{position: absolute; top: 1795px; left: 200px;}

#style_guide .icon{position: absolute; top: 1795px; left: 1075px;}
#style_guide .icon .icon_guide{list-style: none; display: flex; margin-bottom: 40px;}
#style_guide .icon li{margin-right: 70px;}

#style_guide .character{position: absolute; top: 2288px; left: 200px;}
#style_guide .character .character_guide{list-style: none; display: flex;}
#style_guide .character .character_guide2{position: absolute; list-style: none; display: flex; top: 202px; left: 1075px;}
#style_guide .character li{margin-right: 70px;}
#style_guide .character li img{margin-top: 70px;}
#style_guide .character .character_guide2 li img{margin-top: 100px;}
#style_guide .character .subhead3{font-size: 24px; color: #484848; margin-bottom: 30px;}

/* ------------------- */

/* service1 */
section#service1 {
    background-image: url(../img/service1_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
    height: 2400px;
}

section#service1 .title_box {
    width: calc(100vw * 360 / 1920);
    padding-left: calc(100vw * 160 / 1920);
    margin-top: 150px;
    color: var(--color-orange);
    font-size: var(--title-size);
    border-bottom: 1px solid var(--color-orange);
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: -400px;
    transition: all 1.2s;
}
section#service1 .title_box.active {
    left: 0px;
}
section#service1 .main_box {
    width: calc(100vw * 600 / 1920);
    margin-left: calc(100vw * 75 / 1920);
    margin-top: 150px;
    display: inline-block;
    line-height: 1.4;
    position: relative;
    z-index: 2;
    opacity: 0;
    top: 50px;
    transition: all 1.5s;
}

section#service1 .main_box.active {
    animation: fade 1.5s forwards ease;
    top: 0;
}

section#service1 .main_box span {
    font-size: var(--main-size);
}

section#service1 .main_box span:nth-of-type(1) {
    color: var(--color-black);
    font-weight: 600;
}

section#service1 .main_box span:nth-of-type(2) {
    color: var(--color-white);
    background-color: var(--color-orange);
    font-weight: 800;
}

section#service1 .main_box span:nth-of-type(3) {
    color: var(--color-black);
}

section#service1 .main_box .character {
    position: absolute;
    top: -38px;
    left: calc(100vw * 350 / 1920);
    z-index: -1;
}

section#service1 .main_box .character img {
    width: 70px;
}
section#service1 .main_box .character img:nth-of-type(1) {
    animation: move 1s  ease-in-out infinite alternate;
}
section#service1 .main_box .character img:nth-of-type(2) {
    animation: move 1.5s infinite alternate;
}
section#service1 .main_box .character img:nth-of-type(3) {
    animation: move 2s infinite alternate;
}
section#service1 .container {
    width: calc(100vw * 1492 / 1920);
    margin: 0 auto;
    margin-top: 97px;
}

section#service1 .container img {
    width: calc(100vw * 350 / 1920);
    margin-left: 20px;
}
section#service1 .container .img_box {
    position: relative;
    overflow: hidden;
}
section#service1 .container .img_box img{
    transform: translateX(2000px);
    transition: all 2s;
}
section#service1 .container .img_box.active img{
    transform: translateX(0);
}
/* section#service1 .container .img.active {
    animation: fade 1.5s forwards;
    left: 0;
} */
section#service1 .container img:nth-of-type(1) {
    margin-left: 0;
}
section#service1 .right {
    float: right;
    text-align: right;
    margin-top: 150px;
}

section#service1 .right .title_box {
    padding-left: 0;
    padding-right: calc(100vw * 160 / 1920);
    margin-top: 150px;
    position: relative;
    left: 400px;
    transition: all 1.2s;
}
section#service1 .right .title_box.active {
    left: 0;
}
section#service1 .right .main_box {
    margin-left: 0;
    margin-right: calc(100vw * 75 / 1920);
    margin-top: 150px;
    position: relative;
    opacity: 0;
    top: 50px;
    transition: all 1.3s;

}
section#service1 .right .main_box.active {
    animation: fade 1.5s forwards ease;
    top: 0;
}
section#service1 .right .main_box .character {
    position: absolute;
    top: -5px;
    left: calc(100vw * 125 / 1920);
    z-index: -1;
}

section#service1 .right .main_box .character img {
    width: 40px;
}

section#service1 .right .container {
    text-align: left;
}

/* service2 */
section#service2 {
    height: 3000px;
    background-image: url(../img/bg_circle.png), url(../img/bg_circle.png);
    background-repeat: no-repeat;
    background-size: calc(100vw * 1250 / 1920);
    background-position: 155% -10%, -80% 120%;
}

section#service2 .title_box {
    width: calc(100vw * 360 / 1920);
    padding-left: calc(100vw * 100 / 1920);
    margin-top: 150px;
    color: var(--color-orange);
    font-size: var(--title-size);
    border-bottom: 1px solid var(--color-orange);
    display: inline-block;
    vertical-align: top;
    position: relative;
    top: -700px;
    transition: all 1.2s;
}
section#service2 .title_box.active {
    top: 0;
}
section#service2 .main_box {
    width: calc(100vw * 600 / 1920);
    margin-left: calc(100vw * 75 / 1920);
    margin-top: 150px;
    display: inline-block;
    line-height: 1.4;
    position: relative;
    z-index: 2;
    top: -500px;
    transition: all 1.5s;
}
section#service2 .main_box.active {
    top: 0;
}
section#service2 .main_box span {
    font-size: var(--main-size);
}

section#service2 .main_box span:nth-of-type(1) {
    color: var(--color-black);
    font-weight: 600;
}

section#service2 .main_box span:nth-of-type(2) {
    color: var(--color-white);
    background-color: var(--color-orange);
    font-weight: 800;
}

section#service2 .main_box span:nth-of-type(3) {
    color: var(--color-black);
}

section#service2 .main_box .character {
    position: absolute;
    top: -38px;
    left: calc(100vw * 330 / 1920);
    z-index: -1;
}

section#service2 .main_box .character img {
    width: 70px;
}

section#service2 .container {
    width: calc(100vw * 1492 / 1920);
    margin: 0 auto;
    margin-top: 160px;
    position: relative;
}

section#service2 .container img,
section#service2 .container svg {
    position: absolute;
}

section#service2 .container img {
    width: calc(100vw * 300 / 1920);
}

section#service2 .container .main_img {
    width: calc(100vw * 420 / 1920);
}
section#service2 .container .line1 {
    top: 450px;
    width: 0;
    left: calc(100vw * 420 / 1920);
}
section#service2 .container .line1.active {
    animation: line1 1s ease-in-out infinite;
}

section#service2 .container .img2 {
    top: 60px;
    left: calc(100vw * 580 / 1920);
}

section#service2 .container .line2 {
    top: 120px;
    left: calc(100vw * 880 / 1920);
}

section#service2 .container .text1 {
    width: calc(100vw * 430 / 1920);
    height: 180px;
    position: absolute;
    top: 120px;
    left: calc(100vw * 1050 / 1920);
    color: var(--color-black);
}

section#service2 .container .text1 h1 {
    font-size: 25px;
    font-weight: 800;
}

section#service2 .container .text1 p {
    margin-top: 40px;
    font-size: var(--main-size);
}

section#service2 .container .line3 {
    top: 450px;
    left: calc(100vw * 880 / 1920);
}

section#service2 .container .img3 {
    top: 440px;
    left: calc(100vw * 1080 / 1920);
    z-index: 2;
}

section#service2 .container .line4 {
    top: 1020px;
    left: calc(100vw * 1150 / 1920);
    z-index: 1;
}

section#service2 .container .text2 {
    width: calc(100vw * 300 / 1920);
    height: 220px;
    position: absolute;
    top: 1075px;
    left: calc(100vw * 1220 / 1920);
    color: var(--color-black);
}

section#service2 .container .text2 h1 {
    font-size: 25px;
    font-weight: 800;
}

section#service2 .container .text2 p {
    margin-top: 40px;
    font-size: var(--main-size);
}

section#service2 .container .line5 {
    top: 1400px;
    left: calc(100vw * 390 / 1920);
}

section#service2 .container .img4 {
    top: 1330px;
    left: calc(100vw * 730 / 1920);
}

section#service2 .container .img5 {
    top: 1330px;
    left: calc(100vw * 1080 / 1920);
}

section#service2 .container .line6 {
    top: 1780px;
    left: calc(100vw * 1000 / 1920);
}

section#service2 .container .text3 {
    width: calc(100vw * 300 / 1920);
    height: 220px;
    position: absolute;
    top: 2020px;
    left: calc(100vw * 800 / 1920);
    color: var(--color-black);
}

section#service2 .container .text3 h1 {
    font-size: 25px;
    font-weight: 800;
}

section#service2 .container .text3 p {
    margin-top: 40px;
    font-size: var(--main-size);
}


/* service3 */
section#service3 {
    height: 2700px;
    background-image: url(../img/service3_bg.png);
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center center;
}

section#service3 .title_box {
    width: calc(100vw * 360 / 1920);
    padding-left: calc(100vw * 260 / 1920);
    margin-top: 150px;
    color: var(--color-orange);
    font-size: var(--title-size);
    border-bottom: 1px solid var(--color-orange);
    display: inline-block;
    vertical-align: top;
    position: relative;
    left: 500px;
    opacity: 0;
}
section#service3 .title_box.active {
    animation: fade_right 1.2s forwards;
}
section#service3 .main_box {
    width: calc(100vw * 600 / 1920);
    margin-left: calc(100vw * 75 / 1920);
    margin-top: 150px;
    display: inline-block;
    line-height: 1.4;
    position: relative;
    z-index: 2;
    left: 600px;
    opacity: 0;
}
section#service3 .main_box.active {    
    animation: fade_right 1.2s forwards;
}

section#service3 .main_box span {
    font-size: var(--main-size);
}

section#service3 .main_box span:nth-of-type(1) {
    color: var(--color-black);
    font-weight: 500;
}

section#service3 .main_box span:nth-of-type(2) {
    color: var(--color-white);
    background-color: var(--color-orange);
    font-weight: 600;
}

section#service3 .main_box span:nth-of-type(3) {
    color: var(--color-black);
}

section#service3 .container {
    width: calc(100vw * 1492 / 1920);
    margin: 0 auto;
    margin-top: 160px;
    display: flex;
    align-items: flex-start;
    position: relative;
}

section#service3 .container:nth-of-type(1) {
    display: flex;
    align-items: flex-start;
}

section#service3 .container img {
    width: calc(100vw * 300 / 1920);
    margin-left: calc(100vw * 30 / 1920);
}

section#service3 .container img:nth-of-type(1) {
    margin-left: calc(100vw * 180 / 1920);
}

section#service3 .container .line7 {
    position: absolute;
    top: 595px;
    left: calc(100vw * 180 / 1920);
}

section#service3 .container .line8 {
    position: absolute;
    top: 350px;
    left: calc(100vw * 1130 / 1920);
}

section#service3 .container .text1 {
    width: calc(100vw * 250 / 1920);
    height: 150px;
    position: absolute;
    top: 680px;
    left: calc(100vw * -80 / 1920);
    color: var(--color-black);
    text-align: right;
}

section#service3 .container .text1 h1 {
    font-size: var(--main-size);
    font-weight: 800;
}

section#service3 .container .text1 p {
    margin-top: 15px;
    font-size: var(--main-size);
}

section#service3 .container .text2 {
    width: calc(100vw * 300 / 1920);
    height: 220px;
    position: absolute;
    top: 360px;
    left: calc(100vw * 1330 / 1920);
    color: var(--color-black);
}

section#service3 .container .text2 h1 {
    font-size: var(--main-size);
    font-weight: 800;
}

section#service3 .container .text2 p {
    margin-top: 15px;
    font-size: var(--main-size);
}

section#service3 .right {
    float: right;
    text-align: right;
    margin-top: 150px;
}

section#service3 .right .title_box {
    padding-left: 0;
    padding-right: calc(100vw * 115 / 1920);
    margin-top: 150px;
    left: 500px;
    opacity: 0;
}

section#service3 .right .main_box {
    margin-left: 0;
    margin-right: calc(100vw * 75 / 1920);
    margin-top: 150px;
    left: 600px;
    opacity: 0;
}

section#service3 .container .line9 {
    position: absolute;
    top: 580px;
    left: calc(100vw * 950 / 1920);
}

section#service3 .container .text3 {
    width: calc(100vw * 200 / 1920);
    height: 100px;
    position: absolute;
    top: 610px;
    left: calc(100vw * 730 / 1920);
    color: var(--color-black);
    text-align: right;
}

section#service3 .container .text3 h1 {
    font-size: var(--main-size);
    font-weight: 800;
}

section#service3 .container .text3 p {
    margin-top: 15px;
    font-size: var(--main-size);
}

section#service3 .container .function_img {
    margin-top: 180px;
}

/* service4 */
section#service4 {
    height: 3000px;
    background-image: url(../img/bg_circle.png), url(../img/bg_circle.png);
    background-repeat: no-repeat;
    background-size: 1250px 1250px, 1250px 1250px;
    background-position: -80% -25%, 220% 130%;
    position: relative;
}

section#service4 .bg_box {
    width: calc(100vw * 405 / 1920);
    height: 35px;
    margin-top: 190px;
    background-color: var(--color-orange);
    position: absolute;
    z-index: 3;
    transition: all 1.6s;
}
section#service4 .bg_box .character_box,
section#service4 .bg_box_right .character_box {
    width: calc(100vw * 260 / 1920);
    position: absolute;
    top: -65px;
    left: calc(100vw * 140 / 1920);
    z-index: 2;
}

section#service4 .bg_box img,
section#service4 .bg_box_right img {
    width: calc(100vw * 80 / 1920);
}

section#service4 .title_box {
    display: inline-block;
    width: calc(100vw * 360 / 1920);
    padding-left: calc(100vw * 150 / 1920);
    margin-top: 330px;
    color: var(--color-orange);
    font-size: var(--title-size);
    border-bottom: 1px solid var(--color-orange);
    vertical-align: top;

}

section#service4 .main_box {
    display: inline-block;
    width: calc(100vw * 600 / 1920);
    margin-left: calc(100vw * 75 / 1920);
    margin-top: 330px;
    line-height: 1.4;
    position: relative;
}

section#service4 .main_box span {
    font-size: var(--main-size);
    color: var(--color-black);
}

section#service4 .main_box span.check {
    background-color: var(--color-orange);
    font-weight: 600;
    color: var(--color-white);
}

section#service4 .container {
    width: calc(100vw * 1500 / 1920);
    margin: 0 auto;
    margin-top: 165px;
    position: relative;
    display: flex;
    align-items: flex-start;
}

section#service4 .container img {
    width: calc(100vw * 300 / 1920);
    margin-left: calc(100vw * 80 / 1920);
}

section#service4 .container img:nth-of-type(1) {
    margin-left: calc(100vw * 410 / 1920);
}

section#service4 .container svg {
    position: absolute;

}

section#service4 .container .line10 {
    top: 460px;
    left: calc(100vw * 280 / 1920);
}

section#service4 .container .line11 {
    top: 350px;
    left: calc(100vw * 1100 / 1920);
}

section#service4 .container .text1 {
    width: calc(100vw * 380 / 1920);
    height: 120px;
    font-size: var(--main-size);
    color: var(--color-black);
    text-align: right;
    position: absolute;
    top: 470px;
    left: calc(100vw * -85 / 1920);
}

section#service4 .container .text1 h1,
section#service4 .container .text2 h1 {
    font-weight: 800;
}

section#service4 .container .text1 p,
section#service4 .container .text2 p {
    margin-top: 15px;
    line-height: 1.1;
}

section#service4 .container .text2 {
    width: calc(100vw * 380 / 1920);
    height: 120px;
    font-size: var(--main-size);
    color: var(--color-black);
    position: absolute;
    top: 360px;
    left: calc(100vw * 1200 / 1920);
}

section#service4 .bg_box_right {
    width: calc(100vw * 405 / 1920);
    height: 35px;
    margin-top: 170px;
    background-color: var(--color-orange);
    position: absolute;
    right: calc(100vw * 0 / 1920);
    z-index: 3;
}

section#service4 .bg_box_right .character_box {
    left: 0;
    right: calc(100vw * 140 / 1920);

    z-index: 2;
}

section#service4 .right {
    float: right;
    text-align: right;
}

section#service4 .title_box.right {
    padding-left: 0;
    padding-right: calc(100vw * 260 / 1920);
}

section#service4 .main_box.right {
    margin-left: 0;
    margin-right: calc(100vw * 75 / 1920);
}

section#service4 .main_box.right span.check {
    background-color: var(--color-orange);
    color: var(--color-white);
    font-weight: 600;
}

section#service4 .container img.container2-img {
    width: calc(100vw * 300 / 1920);
    margin-left: 0;
    z-index: 2;
}

section#service4 .container .line12 {
    position: absolute;
    top: 650px;
    left: calc(100vw * 300 / 1920);
}

section#service4 .container img.mockup-img {
    width: calc(100vw * 420 / 1920);
    margin-left: calc(100vw * 125 / 1920);
    margin-top: 35px;
    z-index: 2;
}

section#service4 .container img.mockup-fnc {
    width: calc(100vw * 645 / 1920);
    position: absolute;
    top: 350px;
    left: calc(100vw * 380 / 1920);
    z-index: 3;
}

section#service4 .container .line13 {
    position: absolute;
    top: 560px;
    left: calc(100vw * 930 / 1920);
}

section#service4 .container .img6 {
    position: absolute;
    top: 450px;
    left: calc(100vw * 1080 / 1920);
}

/* service5 */
section#service5 {
    height: 1800px;
    background-image: url(../img/service5_bg.png);
    background-repeat: no-repeat;
    background-size: calc(100vw * 900 / 1920);
    background-position: center calc(100vh * 1200 / 1800);
    background-color: var(--color-white);

}

section#service5 .bg_box {
    width: calc(100vw * 405 / 1920);
    height: 35px;
    margin-top: 190px;
    background-color: var(--color-orange);
    position: absolute;
    z-index: 3;
}

section#service5 .bg_box .character_box {
    width: calc(100vw * 260 / 1920);
    position: absolute;
    top: -65px;
    left: calc(100vw * 140 / 1920);
    z-index: 2;
}

section#service5 .bg_box img {
    width: calc(100vw * 80 / 1920);
}

section#service5 .title_box {
    display: inline-block;
    width: calc(100vw * 360 / 1920);
    padding-left: calc(100vw * 100 / 1920);
    margin-top: 330px;
    color: var(--color-orange);
    font-size: var(--title-size);
    border-bottom: 1px solid var(--color-orange);
    vertical-align: top;
}

section#service5 .main_box {
    display: inline-block;
    width: calc(100vw * 600 / 1920);
    margin-left: calc(100vw * 75 / 1920);
    margin-top: 330px;
    line-height: 1.4;
    position: relative;
}

section#service5 .main_box h1 {
    font-size: 30px;
    font-weight: 700;
    color: var(--color-black);
    margin-bottom: 15px;
    animation: flash 6s ease-out infinite alternate;
}

section#service5 .main_box span {
    font-size: var(--main-size);
    color: var(--color-black);
}

section#service5 .main_box span.check {
    background-color: var(--color-orange);
    font-weight: 600;
    color: var(--color-white);
}

section#service5 .container {
    width: calc(100vw * 1500 / 1920);
    height: 900px;
    margin: 0 auto;
    margin-top: 170px;
    position: relative;
}

section#service5 .container .btn {
    width: 50px;
    height: 50px;
    background-color: var(--color-orange);
    border-radius: 100%;
}
section#service5 .container .active {
    transition: all .8s ease;
}
section#service5 .container .btn.active {
    border: solid 10px var(--color-orange);
    background-color: #FFF;
}

section#service5 .container span {
    font-weight: 700;
    font-size: var(--main-size);
    color: var(--color-black);
}

section#service5 .container span.top {
    position: absolute;
    top: -25px;
    left: 50%;
    transform: translateX(-50%);
}

section#service5 .container .top {
    position: absolute;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}

section#service5 .container span.right {
    position: absolute;
    top: 50%;
    right: calc(100vw * 165 / 1920);
    transform: translateY(-50%);
}

section#service5 .container .right {
    position: absolute;
    top: 50%;
    right: calc(100vw * 275 / 1920);
    transform: translateY(-50%);
}

section#service5 .container span.left {
    position: absolute;
    top: 50%;
    left: calc(100vw * 85 / 1920);
    transform: translateY(-50%);
}

section#service5 .container .left {
    position: absolute;
    top: 50%;
    left: calc(100vw * 275 / 1920);
    transform: translateY(-50%);
}

section#service5 .container span.bottom {
    position: absolute;
    bottom: -25px;
    left: 50%;
    transform: translateX(-50%);
}

section#service5 .container .bottom {
    position: absolute;
    bottom: 0px;
    left: 50%;
    transform: translateX(-50%);
}

section#service5 .container .content {
    width: calc(100vw * 763 / 1920);
    height: calc(100vw * 763 / 1920);
    position: absolute;
    top: 110px;
    left: calc(100vw * 750 / 1920);
    transform: translateX(-50%);
    background: linear-gradient(to right, #F57D31, #F7E9B3 50%, #FFF 50%);
    border-radius: 100%;
}

section#service5 .container .content .mockup {
    width: calc(100vw * 300 / 1920);
    position: absolute;
    top: 70px;
    left: calc(100vw * 50 / 1920);
    opacity: 0;
}

section#service5 .container .content .mockup.active {
    opacity: 1;
    transition: all .8s ease;
}

section#service5 .container .content .line13 {
    position: absolute;
    top: 330px;
    left: calc(100vw * 390 / 1920);
}

section#service5 .container .content .text {
    width: calc(100vw * 260 / 1920);
    height: 130px;
    font-size: var(--main-size);
    color: var(--color-black);
    position: absolute;
    top: 340px;
    left: calc(100vw * 500 / 1920);
    opacity: 0;
}

section#service5 .container .content .text h1 {
    font-weight: 700;
}

section#service5 .container .content .text p {
    margin-top: 12px;
    font-weight: 400;
}

section#service5 .container .content .text.active {
    opacity: 1;
    transition: all .8s ease;
}

/* mockup1 */
section#mockup1 {
    height: 100vh;
    max-height: 1200px;
    background-image: url(../img/Mockup1.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

section#mockup1 .container {
    width: calc(100vw * 1520 / 1920);
    margin: 0 auto;
    padding-top: 250px;
    color: #FFF;
}

section#mockup1 .container h1 {
    font-weight: 500;
    font-size: var(--subtitle-size);
    margin-top: 20px;
}

section#mockup1 .container p {
    font-weight: 300;
    font-size: var(--main-size);
    margin-top: 30px;
}

/* mockup2 */
section#mockup2 {
    height: 100vh;
    max-height: 1200px;
    background-image: url(../img/Mockup2.png);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
}

section#mockup2 .container {
    width: calc(100vw * 1520 / 1920);
    margin: 0 auto;
    padding-top: 250px;
    color: #FFF;
}

section#mockup2 .container h1 {
    font-weight: 500;
    font-size: var(--subtitle-size);
    margin-top: 20px;
}

section#mockup2 .container p {
    font-weight: 300;
    font-size: var(--main-size);
    margin-top: 30px;
}

/* profile */
section#profile {
    height: 100vh;
    max-height: 1200px;
}

section#profile .container {
    width: calc(100vw * 1700 / 1920);
    margin: 0 auto;
}

section#profile .container h1 {
    margin-top: 220px;
    font-size: 50px;
    font-weight: 700;
    color: var(--color-black);
}

section#profile .container h1 span {
    font-weight: 500;
}

section#profile ul {
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    text-align: center;
}

section#profile ul.profile li {
    width: calc(100vw * 295 / 1920);
    height: calc(100vw * 295 / 1920);
    margin-left: calc(100vw * 31 / 1920);
    position: relative;
    background-color: #EEE;
    border-radius: 100%;
    text-align: center;
    transition: all 0.3s ease-in;
    display: flex;
    align-items: center;
    justify-content: center;
}

section#profile ul.profile li p {
    width: 90%;
    margin: 0;
    font-weight: 700;
    font-size: 20px;
    color: #FFF;
    opacity: 0;
    transition: all .5s ease-in-out;
}

section#profile ul.profile li:nth-of-type(1) {
    border: solid 6px #FE6559;
    background-image: url(../img/profile1.png);
    background-repeat: no-repeat;
    background-size: calc(100vw * 295 / 1920);
    background-position: center top;
}

section#profile ul.profile li:nth-of-type(1)::before {
    content: url(../img/character1.png);
    width: calc(100vw * 50 / 1920);
    position: absolute;
    top: 200px;
    left: calc(100vw * 30 / 1920);
}

section#profile ul.profile li:nth-of-type(1):hover {
    background-color: #FE6559;
    background-image: none;
}

section#profile ul.profile li:nth-of-type(1):hover p {
    opacity: 1;
}

section#profile ul.profile li:nth-of-type(2) {
    border: solid 6px #F6701B;
    background-image: url(../img/profile2.png);
    background-repeat: no-repeat;
    background-size: calc(100vw * 311 / 1920);
    background-position: center top;
}

section#profile ul.profile li:nth-of-type(2)::before {
    content: url(../img/character2.png);
    width: calc(100vw * 50 / 1920);
    position: absolute;
    top: 210px;
    left: calc(100vw * 30 / 1920);
}

section#profile ul.profile li:nth-of-type(2):hover {
    background-color: #F6701B;
    background-image: none;
}

section#profile ul.profile li:nth-of-type(2):hover p {
    opacity: 1;
}

section#profile ul.profile li:nth-of-type(3) {
    border: solid 6px #FFD727;
    background-image: url(../img/profile3.png);
    background-repeat: no-repeat;
    background-size: calc(100vw * 311 / 1920);
    background-position: center top;
}

section#profile ul.profile li:nth-of-type(3)::before {
    content: url(../img/character3.png);
    width: calc(100vw * 50 / 1920);
    position: absolute;
    top: 200px;
    left: calc(100vw * 30 / 1920);
}

section#profile ul.profile li:nth-of-type(3):hover {
    background-color: #FFD727;
    background-image: none;
}

section#profile ul.profile li:nth-of-type(3):hover p {
    opacity: 1;
}

section#profile ul.profile li:nth-of-type(4) {
    border: solid 6px #A4E445;
    background-image: url(../img/profile4.png);
    background-repeat: no-repeat;
    background-size: calc(100vw * 311 / 1920);
    background-position: center top;
}

section#profile ul.profile li:nth-of-type(4)::before {
    content: url(../img/character4.png);
    width: calc(100vw * 50 / 1920);
    position: absolute;
    top: 210px;
    left: calc(100vw * 30 / 1920);
}

section#profile ul.profile li:nth-of-type(4):hover {
    background-color: #A4E445;
    background-image: none;
}

section#profile ul.profile li:nth-of-type(4):hover p {
    opacity: 1;
}

section#profile ul.profile li:nth-of-type(5) {
    border: solid 6px #5299FF;
    background-image: url(../img/profile5.png);
    background-repeat: no-repeat;
    background-size: calc(100vw * 290 / 1920);
    background-position: center top;
}

section#profile ul.profile li:nth-of-type(5)::before {
    content: url(../img/character5.png);
    width: calc(100vw * 50 / 1920);
    position: absolute;
    top: 200px;
    left: calc(100vw * 30 / 1920);
}

section#profile ul.profile li:nth-of-type(5):hover {
    background-color: #5299FF;
    background-image: none;
}

section#profile ul.profile li:nth-of-type(5):hover p {
    opacity: 1;
}

section#profile ul.text {
    margin-top: 0;
}

section#profile ul.text li {
    width: calc(100vw * 295 / 1920);
    margin-left: calc(100vw * 31 / 1920);
}

section#profile ul.text li h1 {
    margin-top: 105px;
    font-size: 40px;
    font-weight: 900;
    color: var(--color-black);
}

section#profile ul.text li .major {
    font-size: var(--main-size);
    font-weight: 900;
    padding-bottom: 16px;
    color: var(--color-orange);
    margin-top: 16px;
}

section#profile ul.text li p.num {
    font-weight: 300;
    color: var(--color-black);
    margin-top: 120px;
}

section#profile ul.text li:nth-of-type(4) .major {
    padding-bottom: 0;
}

section#profile ul.text li:nth-of-type(4) .num {
    margin-top: 100px;
}

/* footer */
footer {
    width: 100%;
    height: 450px;
    background-color: var(--color-orange);
    color: var(--color-white);
}

footer .container {
    width: calc(100vw * 1520 / 1920);
    margin: 0 auto;
}

footer .container .logo {
    padding-top: 125px;
    animation: logo .5s ease infinite;
}

footer .container .text {
    width: 100%;
    height: 115px;
    margin-top: 45px;
    display: flex;
    position: relative;
    z-index: 1;
}

footer .container .text li {
    margin-left: 40px;
}

footer .container .text li:nth-of-type(1) {
    margin-left: calc(100vw * 520 / 1920);
}

footer .container .text li:nth-of-type(1)::before {
    content: url(../img/character_blue.png);
    position: absolute;
    top: 50px;
    left: calc(100vw * 350 /1920);
    z-index: 2;
}

footer .container .text li:nth-of-type(3)::after {
    content: url(../img/character_yellow.png);
    transform: scaleX(-1);
    position: absolute;
    top: 45px;
    left: calc(100vw * 1400 /1920);
    z-index: 2;
}

footer .container .text li h1 {
    font-weight: 500;
    font-size: 18px;
    margin-bottom: 40px;
}

footer .container .text li p {
    font-weight: 300;
    font-size: 15px;
    line-height: 1.3;
}

footer .container .copyright {
    position: relative;
    padding: 20px 0;
    font-weight: 300;
    background-color: var(--color-orange);
    z-index: 3;
    border-top: solid 1px var(--color-white);
}