@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+HK:wght@200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');
@import url(../css/keyframe.css);

/* font */
.pretendard {
        font-family: "Pretendard Variable";
}

.nunito {
        font-family: 'Nunito', sans-serif;
        font-weight: 900;
}

.nanumL {
        font-family: 'NanumSquareRoundL';
}

.nanum {
        font-family: 'NanumSquareRound';
}

.nanumB {
        font-family: 'NanumSquareRoundB';
}

.nanumEB {
        font-family: 'NanumSquareRoundEB';
}

.serif {
        font-family: 'Noto Serif HK', serif;
}

/* root */
:root {
        /* color */
        --color-orange: #F57D31;
        --color-black: #484848;
        --color-white: #F4F4F4;
        --color-yellow: #F6D046;
        /* font-size */
        --title-size: 50px;
        --subtitle-size: 35px;
        --main-size: 20px;
}

/* public */
* {
        box-sizing: border-box;
}

body {
        height: auto;
        background-color: var(--color-white);
        color: var(--color-black);
        ;
        font-size: 16px;
}

body::-webkit-scrollbar {
        display: none;
}

section {
        width: 100%;
        height: calc(100vw * 1200 / 1920);
        position: relative;
}

#wrap {
        width: 100%;
        max-width: 1920px;
}

.clear {
        clear: both;
}

.custom-cursor {
        cursor: url('../img/cursor.png'), auto;
}

/* header */
header {
        width: calc(100vw * 1920 / 1920);
        height: calc(100vw * 80 / 1920);
        background-color: rgba(255, 255, 255, 0.2);
        backdrop-filter: blur(35px);
        position: fixed;
        top: 0;
        left: 0;
        display: flex;
        align-items: center;
        justify-content: space-between;
        z-index: 10;
}

header #logo {
        margin-left: calc(100vw * 90 / 1920);
}

header #nav {
        display: flex;
        margin-right: calc(100vw * 50 / 1920);
}

header #nav li {
        display: inline-block;
        font-size: calc(100vw * 22 / 1920);
        padding: 0 calc(100vw * 40 / 1920);
}

header #nav li span {
        text-transform: uppercase;
        color: var(--color-orange);
}

header #nav li span:hover {
        color: var(--color-yellow);
}

/* progressbar */
.progress-container {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 3px;
}

.progress-container .progress-bar {
        width: 0;
        height: calc(100vw * 6 / 1920);
        background: #FAE26A;
}

/* TopButton */
/* #ScrollTop {
        position: fixed;
        bottom: calc(100vw * 60 / 1920);
        right: 0;
        margin-right: calc(100vw * 60 / 1920);
        width: calc(100vw * 70 / 1920);
        height: calc(100vw * 70 / 1920);
        background: var(--color-yellow);
        border: none;
        border-radius: 100%;
        font-size: 1.05vw;
        color: var(--color-black);
        cursor: pointer;
        z-index: 10;
        transition: all .3s ease;
}

#ScrollTop:hover {
        background-color: var(--color-orange);
        color: #FFF;
} */

/* main */
#main {
        height: calc(100vw * 1200 / 1920);
        background-image: url(../img/main.png);
        background-size: 100%;
}

/* economy */
#economy {
        height: calc(100vw * 1200 / 1920);
        background-image: url(../img/economy_bg.jpg);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position: center;
        overflow-y: hidden;
}

#economy article {
        width: 100%;
        height: 100%;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.5);
        overflow-x: hidden;
}

#economy .container {
        width: 100%;
        height: 100%;
        display: inline-block;
        background-color: rgba(0, 0, 0, 0.5);
}

#economy h1 {
        width: fit-content;
        color: var(--color-white);
        font-size: calc(100vw * 50 / 1920);
        margin: 0 auto;
        margin-top: calc(100vw * 300 / 1920);
}

#economy h1>span {
        background: var(--color-orange);
        border-radius: 10px;
        padding: calc(100vw * 10 / 1920);
}

#economy p {
        width: fit-content;
        color: #FFF;
        font-size: calc(100vw * 24 / 1920);
        text-align: center;
        line-height: 30px;
        margin: 0 auto;
        margin-top: calc(100vw * 80 / 1920);
}

#economy .economy_box {
        width: calc(100vw * 1920 / 1920);
        margin-top: calc(100vw * 150 / 1920);
}

#economy .economy_box .slide {
        white-space: nowrap;
        will-change: transform;
        animation: marquee 20s linear infinite;
        color: #FFF;
}

#economy .economy_box .slide .content {
        display: flex;
}

#economy .economy_box .slide2 {
        margin-top: calc(100vw * 150 / 1920);
        animation: marquee 27s linear infinite;
}

#economy .economy_box .slide .content li span {
        background-color: rgba(255, 255, 255, 0.2);
        padding: calc(100vw * 20 / 1920) calc(100vw * 86 / 1920);
        margin: 0 calc(100vw * 50 / 1920);
        border: solid calc(100vw * 3 / 1920) var(--color-orange);
        border-radius: 30px;
}

#economy .economy_box .slide .content li span.color {
        color: #FFF;
        background-color: var(--color-orange);
}

/* insight */
#insight {
        height: calc(100vw * 700 / 1920);
        background-color: var(--color-white);
}

#insight .container {
        width: 80%;
        margin: 0 auto;
}

#insight .deps {
        color: var(--color-black);
        text-align: center;
        font-size: calc(100vw * 30 / 1920);
        font-weight: 600;
        margin-top: calc(100vw * 200 / 1920);
}

#insight .title {
        color: var(--color-black);
        text-align: center;
        font-size: calc(100vw * 50 / 1920);
        margin-top: calc(100vw * 70 / 1920);
}

#insight .main-text {
        color: var(--color-orange);
        font-size: calc(100vw * 24/ 1920);
        font-weight: 400;
        text-align: center;
        line-height: 30px;
        margin-top: calc(100vw * 70 / 1920);
}

#insight .main-text span {
        font-weight: 700;
}

/* loading */
#loading {
        height: calc(100vw * 455 / 1920);
        background-color: var(--color-black);
        display: flex;
        align-items: center;
        justify-content: center;
}

#loading h1 {
        color: var(--color-white);
        font-size: calc(100vw * 50 / 1920);
        font-weight: 500;
        text-align: center;
        line-height: 60px;
}

#loading h1 span {
        font-weight: 800;
        letter-spacing: 0.02em;
}

/* video */
#video .container {
        width: 100%;
        height: 100%;
}

#video .container iframe {
        width: 100%;
        height: 100%;
}

/* service */
#service {
        background-image: url(../img/service_bg.png);
        background-repeat: no-repeat;
        background-size: 100%;
        background-position-y: 110%;
}

#service .container {
        width: 100%
}

#service .deps {
        color: var(--color-black);
        text-align: center;
        font-size: calc(100vw * 30 / 1920);
        font-weight: 600;
        margin-top: calc(100vw * 200 / 1920);
}

#service .inner {
        margin-top: 13.5vw
}

#service .left {
        float: left;
        width: calc(100vw * 540 / 1920);
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: calc(100vw * 200 / 1920);
}

#service .left img {
        width: 100%;
}

#service .right {
        float: right;
        width: calc(100vw * 1000 / 1920);
        margin-right: calc(100vw * 100 / 1920);
}

#service .right p {
        color: var(--color-black);
        font-weight: 700;
        font-size: calc(100vw * 40 / 1920);
        line-height: 50px;
        letter-spacing: 0.03em;
}

#service .right p span {
        color: var(--color-orange);
}

#service .right .text-list {
        display: flex;
        margin-left: calc(100vw * 80 / 1920);
}

#service .right .text-list li:nth-of-type(2) {
        margin-left: calc(100vw * 30 / 1920);
}

#service .right .text-list li span {
        color: #717171;
        font-size: calc(100vw * 24 / 1920);
}

#service .right .text-list1 {
        margin-top: calc(100vw * 145 / 1920);
}

#service .right .text-list2 {
        margin-top: calc(100vw * 30 / 1920);
}

/* focus */
#focus {
        height: calc(100vw * 2200 / 1920);
}

#focus .container {
        width: 80%;
        margin: 0 auto;
}

#focus .deps {
        color: var(--color-black);
        text-align: center;
        font-size: calc(100vw * 30 / 1920);
        font-weight: 600;
        margin-top: calc(100vw * 200 / 1920);
}

#focus .graph-box {
        width: 100%;
        display: flex;
        justify-content: center;
}

#focus .inner {
        margin-top: calc(100vw * 105 / 1920);
}

#focus .left {
        width: calc(100vw * 768 / 1920);
        float: left;
        display: flex;
        align-items: center;
}

#focus .left .text-box {
        width: 100%;
        padding: 30px;
}

#focus .left .text-box .title {
        color: var(--color-orange);
        font-size: calc(100vw * 35 / 1920);
        font-weight: 700;
}

#focus .left .text-box .main-text {
        color: #2C2C2C;
        font-size: calc(100vw * 20 / 1920);
        font-weight: 400;
        line-height: 24px;
        margin-top: calc(100vw * 60 / 1920);
}

#focus .right {
        width: calc(100vw * 1056 / 1920);
        float: right;
        display: flex;
        align-items: center;
        justify-content: center;
}

#focus .right img {
        width: 80%;
}

#focus .solution-box {
        width: 100%;
        text-align: center;
        margin-top: calc(100vw * 275 / 1920);
}

#focus .solution-box .title {
        color: var(--color-black);
        font-size: calc(100vw * 50 / 1920);
        line-height: 60px;
}

#focus .solution-box .title span {
        color: var(--color-orange);
}

#focus .solution-box .text {
        color: var(--color-black);
        font-size: calc(100vw * 20 / 1920);
        font-weight: 400;
        line-height: 24px;
        margin-top: calc(100vw * 45 / 1920);
}

#focus .customer {
        width: fit-content;
        margin: 0 auto;
        margin-top: calc(100vw * 95 / 1920);
        text-align: center;
        display: flex;
        align-items: center;
}

#focus .customer li {
        margin: calc(100vw * 50 / 1920);
}

#focus .customer .circle {
        width: calc(100vw * 208 / 1920);
        height: calc(100vw * 208 / 1920);
        border: solid 2px var(--color-orange);
        border-radius: 100%;
        font-size: calc(100vw * 24 / 1920);
        font-weight: 600;
        color: var(--color-black);
        display: flex;
        justify-content: center;
        align-items: center;
}

#focus .customer .circle:hover {
        background-color: var(--color-orange);
        color: #FFF;
}

#focus .title-box .title {
        font-size: calc(100vw * 32 / 1920);
        color: var(--color-black);
        position: relative;
        left: 50%;
        transform: translate(-50%);
}

#focus .title-box .title::before {
        content: "";
        width: calc(100vw * 210 / 1920);
        height: calc(100vw * 15 / 1920);
        background-color: #F4DCCD;
        position: absolute;
        top: 60%;
        left: 50%;
        transform: translate(-50%);
        z-index: -1;
}

#focus .list-box {
        width: 70%;
        margin: 0 auto;
        margin-top: calc(100vw * 100 / 1920);
        font-size: calc(100vw * 20 / 1920);
        text-align: left;
}

#focus .list-box .num li {
        font-size: calc(100vw * 20 / 1920);
        font-weight: 500;
        color: var(--color-black);
        margin-bottom: calc(100vw * 45 / 1920);
}

#focus .list-box .num li span {
        color: var(--color-orange);
        font-size: calc(100vw * 24 / 1920);
        font-weight: 900;
        margin-right: calc(100vw * 32 / 1920);
}

#focus .list-box .num1 {
        float: left;
}

#focus .list-box .num2 {
        float: right;
}

/* keyword */
#keyword {
        height: calc(100vw * 550 / 1920);
        background-color: var(--color-orange);
        background-image: url(../img/mockup.png);
        background-size: calc(100vw * 1700 / 1920);
        background-repeat: no-repeat;
        background-position: center center;
}

#keyword .filter {
        width: 100%;
        display: inline-block;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
}

#keyword .title {
        font-size: calc(100vw * 32 / 1920);
        font-weight: 800;
        color: #FFF;
        text-align: center;
        margin-top: calc(100vw * 200 / 1920);
}

#keyword ul {
        width: 100%;
        margin-top: calc(100vw * 170 / 1920);
        display: flex;
        justify-content: space-between;
}

#keyword li {
        background-color: rgba(255, 255, 255, 0.2);
        border: solid 3px #FFF;
        border-radius: 50px;
        padding: calc(100vw * 20 / 1920) calc(100vw * 50 / 1920);
        color: #FFF;
        font-size: calc(100vw * 30 / 1920);
        font-weight: 600;
        margin: 0 calc(100vw * 60 / 1920);
        text-align: center;
}

#keyword li:hover {
        background-color: var(--color-orange);
}

/* goal */
#goal {
        height: calc(100vw * 1250 / 1920);
        background-image: url(../img/uxgoal_bg.png);
        background-size: 100% 100%;
        background-repeat: no-repeat;
        background-position: center top;
        z-index: -1;
}

#goal .container {
        width: calc(100vw * 1536 / 1920);
        margin: 0 auto;
}

#goal .title {
        text-align: center;
        font-size: calc(100vw * 32 / 1920);
        font-weight: 500;
        color: #FFF;
}

#goal .title1 {
        padding-top: calc(100vw * 135 / 1920);
}

#goal .title2 {
        font-size: calc(100vw * 50 / 1920);
        font-weight: 900;
        margin-top: 40px;
}

#goal .box {
        width: calc(100vw * 1440 / 1920);
        margin: 0 auto;
}

#goal .box img {
        width: calc(100vw * 200 / 1920);
}

#goal .box ul {
        width: calc(100vw * 1000 / 1920);
        float: left;
        margin-left: calc(100vw * 40 / 1920);
        display: flex;
        flex-wrap: wrap;
}

#goal .box li {
        color: var(--color-black);
        font-size: calc(100vw * 24 / 1920);
        font-weight: 500;
        border-radius: 50px;
        background-color: #FFF;
        padding: calc(100vw * 20 / 1920) calc(100vw * 30 / 1920);
        margin: 10px;
}

#goal .box li.orange {
        background-color: var(--color-orange);
        color: #FFF;
}

#goal .box1 {
        margin-top: calc(100vw * 150 / 1920);
}

#goal .box1 img {
        float: left;
}

#goal .box2 {
        margin-top: calc(100vw * 50 / 1920);
}

#goal .box2 img {
        float: right;
}

#goal .box2 ul {
        float: right;
        margin-right: calc(100vw * 40 / 1920);
}

#goal .deps {
        font-size: calc(100vw * 30 / 1920);
        color: #FFF;
        font-weight: 600;
        text-align: center;
        margin-top: calc(100vw * 300 / 1920);
}

/* #goal .deps::before {
        content: "";
        width: calc(100vw * 30 / 1920);
        height: calc(100vw * 30 / 1920);
        background-color: var(--color-orange);
        border-radius: 100%;
        position: absolute;
        top: calc(100vw * 1150 / 1920);
        left: 46.5%;
        z-index: -1;
} */

/* trendy */
#trendy {
        height: calc(100vw * 700 / 1920);
}

#trendy p {
        color: var(--color-black);
        text-align: center;
}

#trendy .title {
        font-size: calc(100vw * 36 / 1920);
        font-weight: 300;
        margin-top: calc(100vw * 80 /1920);
}

#trendy .title2 {
        font-size: calc(100vw * 36 / 1920);
        margin-top: calc(100vw * 35 / 1920);
}

#trendy .title2 span {
        background-color: #FAE26A;
        border-radius: 10px;
        padding: 2px;
}

#trendy .text {
        font-size: calc(100vw * 20 / 1920);
        line-height: 24px;
        font-weight: 300;
        margin-top: calc(100vw * 50 / 1920);
}

#trendy .trendy-list-box {
        width: calc(100vw * 1000 / 1920);
        margin: 0 auto;
        margin-top: calc(100vw * 90 / 1920);
        display: flex;
}

#trendy .trendy-list {
        margin: 0 calc(100vw * 30 / 1920);
}

#trendy .trendy-list li {
        width: calc(100vw * 300 / 1920);
        text-align: center;
        color: var(--color-black);
}

#trendy .trendy-list li div {
        width: calc(100vw * 150 /1920);
        height: calc(100vw * 150 / 1920);
        background-color: #DFDFDF;
        border-radius: 100%;
        margin: 0 auto;
}

#trendy .trendy-list li div img {
        width: 100%;
}

#trendy .trendy-list li div img.icon3 {
        width: 70%;
        margin-top: calc(100vw * 20 / 1920);
}

#trendy .trendy-list .list-title {
        font-size: calc(100vw * 28 / 1920);
        font-weight: 600;
        margin-top: calc(100vw * 30 / 1920);
}

#trendy .trendy-list .info {
        font-size: calc(100vw * 20 / 1920);
        font-weight: 300;
        margin-top: calc(100vw * 20 / 1920);
}

/* style */
#style {
        height: calc(100vw * 3000 / 1920);
}

#style .container {
        width: 100%;
}

#style .deps {
        font-size: calc(100vw * 30 / 1920);
        color: var(--color-black);
        font-weight: 600;
        text-align: center;
        margin: 0 auto;
        margin-top: calc(100vw * 200 / 1920);
        position: relative;
}

#style .title {
        font-size: calc(100vw * 20 / 1920);
        font-weight: 400;
        text-align: center;
        margin-top: calc(100vw * 30 / 1920);
}

#style .color {
        width: 100%;
        display: flex;
}

#style .color:nth-of-type(1) {
        margin-top: calc(100vw * 200 / 1920);
}

#style .color li span {
        color: var(--color-white);
        font-size: calc(100vw * 24 / 1920);
        font-weight: 500;
        display: inline-block;
        padding: 5px 0;
}

#style .color .orange {
        width: calc(100vw * 965 / 1920);
        height: calc(100vw * 380 / 1920);
        background: var(--color-orange);
}

#style .color .mango {
        width: calc(100vw * 500 / 1920);
        height: calc(100vw * 380 / 1920);
        background-color: #F6D046;
}

#style .color .lemon {
        width: calc(100vw * 455 / 1920);
        height: calc(100vw * 380 / 1920);
        background-color: #FAE26A;
}

#style .color .black {
        width: calc(100vw * 400 / 1920);
        height: calc(100vw * 200 / 1920);
        background-color: var(--color-black);
}

#style .color .gray {
        width: calc(100vw * 800 / 1920);
        height: calc(100vw * 200 / 1920);
        background-color: #EEE;
}

#style .color .gray span {
        color: var(--color-black);
}

#style .color .white {
        width: calc(100vw * 720 / 1920);
        height: calc(100vw * 200 / 1920);
        background-color: #F6F6F6;
}

#style .color .white span {
        color: var(--color-black);
}

#style .inner {
        width: 80%;
        margin: 0 auto;
        margin-top: calc(100vw * 120 / 1920);
}

#style .inner .typography {
        width: 100%;
}

#style .inner .typography .typography-title {
        font-size: calc(100vw * 30 / 1920);
        color: var(--color-orange);
}

#style .inner .typography .typography-text {
        font-size: calc(100vw * 20 / 1920);
        margin-top: calc(100vw * 30 / 1920);
        margin-bottom: calc(100vw * 100 / 1920);
}

#style .inner .font-ptd,
#style .inner .font-nanum,
#style .inner .logo,
#style .inner .icon {
        width: calc(100vw * 500 / 1920);
        height: calc(100vw * 500 / 1920);
}

#style .inner .font-ptd,
#style .inner .logo {
        float: left;
}

#style .inner .font-nanum,
#style .inner .icon {
        float: right;
        margin-right: calc(100vw * 100 / 1920);
}

#style .inner .font-ptd .pretendard-title {
        font-size: calc(100vw * 40 / 1920);
        font-weight: 600;
        color: #FAA77A;
}

#style .inner .font-ptd .pretendard-text {
        font-size: calc(100vw * 30 / 1920);
        margin: calc(100vw * 10 / 1920);
}

#style .inner .font-ptd .pretendard-text,
#style .inner .font-nanum .nanum-text {
        font-size: calc(100vw * 30 / 1920);
        padding: 10px 0;
        margin-top: calc(100vw * 30 / 1920);
}

#style .inner .font-ptd .pretendard-text span:nth-of-type(2) {
        margin-left: calc(100vw * 30 / 1920);
}

#style .inner .font-ptd .light {
        font-weight: 300;
}

#style .inner .font-ptd .regular {
        font-weight: 400;
}

#style .inner .font-ptd .medium {
        font-weight: 500;
}

#style .inner .font-ptd .semibold {
        font-weight: 600;
}

#style .inner .font-ptd .bold {
        font-weight: 700;
}

#style .inner .font-nanum .nanum-title {
        font-size: calc(100vw * 40 / 1920);
        color: #FAA77A;
}

#style .inner .logo .logo-title,
#style .inner .icon .icon-title,
#style .inner .character .character-title {
        color: var(--color-orange);
        font-size: calc(100vw * 30 / 1920);
        margin-top: calc(100vw * 100 / 1920);
}

#style .inner .logo .logo-text,
#style .inner .icon .icon-text,
#style .inner .character .character-text {
        font-size: calc(100vw * 20 / 1920);
        margin-top: calc(100vw * 30 / 1920);
}

#style .inner .logo img {
        width: 100%;
        margin-top: calc(100vw * 80 / 1920);
}

#style .inner .icon .icon-img {
        width: 100%;
        text-align: center;
        margin-top: calc(100vw * 80 / 1920);
}

#style .inner .icon .icon-img img {
        width: 18%;
}

#style .inner .character {
        width: 100%;
        margin-top: calc(100vw * 155 / 1920);
}

#style .inner .character li {
        width: 40%;
        margin-top: calc(100vw * 100 / 1920);
}

#style .inner .character li p {
        margin-bottom: calc(100vw * 10 / 1920);
}

#style .inner .character li:nth-of-type(1) {
        float: left;
}

#style .inner .character li:nth-of-type(1) img {
        width: 28%;
        margin: 0 auto;
}

#style .inner .character li:nth-of-type(2) {
        float: right;
}

#style .inner .character li:nth-of-type(2) img {
        width: 28%;
        margin: calc(100vw * 50 / 1920);
}