@keyframes move {
    0% {transform: translateY(0);}
    30% {transform: translateY(-5px);}
    50% {transform: translateY(-13px);}
    100% {transform: translateY(0);}
}

@keyframes fade {
    0%,20% {opacity: 0;}
    50% {opacity: 0.3;}
    100% {opacity: 1;}
}

@keyframes line1 {
    0% {width: 0;}
    50% {width: 50px;}
    60% {width: 80px;}
    100% {width: 155px;}
}

@keyframes line2 {
    0% {width: 0;}
    50% {width: 50px;}
    60% {width: 80px;}
    100% {width: 155px;}
}

@keyframes line {
    0% {width: 0;}
    30% {width: 100px;}
    100% {width: 200px;}
}

@keyframes line4 {
    0% {height: 0;}
    100% {height: 80px;}
}

@keyframes line5 {
    0% {width: 0;}
    100% {width: 350px;}
}

@keyframes line6 {
    0% {height: 0;}
    100% {height: 280px;}
}

@keyframes line7 {
    0% {height: 0;}
    100% {height: 115px;}
}

@keyframes line9 {
    0% {opacity: 0;}
    100% {left: calc(100vw * 950 / 1920); opacity: 1;}
}

@keyframes line10 {
    0% {opacity: 0; width: 0;}
    100% {width: calc(100vw * 115 / 1920); opacity: 1;}
}

@keyframes line11 {
    0% {width: 0;}
    100% {width: calc(100vw * 115 / 1920);}
}
@keyframes line12 {
    0% {width: 0;}
    100% {width: 150px;}
}

@keyframes line13 {
    0% {height: 0;}
    90% {width: 240px;}
    100% {height: 270px;}
}

@keyframes mockup-fnc {
    0% {transform: scale(0);}
    100% {transform: scale(1);}
}

@keyframes text3 {
    0% {height: 0;}
    100% {height: 280px;}
}

@keyframes rotate {
    0% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(0);
    }
    100% {
        opacity: 1;
        transform: translate(-50%, -50%) rotate(360deg);
    }
}


/* public ani */
@keyframes moveToRight {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {left: 0; opacity: 1;}
}

@keyframes moveToLeft {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {    right: calc(100vw * 0 / 1920); opacity: 1;}
}

@keyframes moveToTop {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {bottom: 0; opacity: 1;}
}

@keyframes moveToBottom {
    0% {opacity: 0;}
    60% {opacity: 0;}
    100% {top: calc(100vw * 150 / 1920); opacity: 1;}
}

@keyframes fadeIn {
    0% {opacity: 0;}
    60% {transform: scale(1.15);}
    60% {transform: scale(0.95);}
    60% {transform: scale(1.15);}
    100% {opacity: 1; transform: scale(1.);}
}

@keyframes opacity {
    0% {opacity: 0;}
    100% {opacity: 1;}
}

@keyframes flash {
    0%,40%,100% {opacity: 1;}
    20%,60% {opacity: 0;}
}

@keyframes marquee {
    from {
    transform: translateX(0);
    }
    to {
    transform: translateX(-50%);
    }
}
@keyframes marquee2 {
    from {
        transform: translateX(-50%);
    }
    to {
        transform: translateX(0);
    }
    }